p {
  background-color: #fff;
  /* width: 100%; */
  text-align: center;
  /* align-self: stretch; */
}

.search button {
  color: white;
  border:none;
  background-color: rgb(0, 180, 0);
  border-radius: 5px;
  padding: 5px;
  margin: 5px;
  cursor: pointer;
}

.search button:hover {
  background-color: rgb(0, 197, 0);
}

.search button:disabled {
  background-color: #ccc; /* Change to your preferred disabled background color */
  color: #666; /* Change to your preferred disabled text color */
  cursor: not-allowed;
}

.sub-filters {
  padding: 12px 15px;
  color: var(--base-text);
  margin: 30px auto;
  width: 80%;
  background-color: var(--nav-background-color);
  display: flex;
  justify-content: space-between;
  border-radius: 5px;
  align-items: center;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.4);

}


.filter-box {
  display: flex;
  border: solid;
  background-color: var(--button-background-color);
  border-width: 1px;
  border-radius: 5px;
  border-color: var(--button-background-color);
  justify-content: space-around;
}

.filter-box .message-type {
  cursor: pointer;
  padding: 10px;
  color: rgb(136, 136, 136);
  background-color: rgb(0, 50, 6);
}

.filter-box .message-type.selected {
color: white;
  background-color: var(--button-background-color); /* Change to the desired color when selected */
}

.filter-box label {
  cursor: pointer;
  /* margin: 100px; */
}

.sub-filters input{
  padding: 3px 10px;
  border-radius: 8px;
  border: solid 0.1px;

/* border: solid; */
}

.sub-filters select {
  padding: 3px 10px;
  border-radius: 8px;

}

.sub-filters option {
  text-align: center;
  font-weight: bold;
  background-color: white;
}

.sub-filters button {
  background-color: var(--button-background-color);
  border-radius: 5px;
  color: white;
  border-color: var(--button-border-color);
  font-weight: bold;
  border-style:solid;
  border-width: 1px;
  padding: 8px;
  cursor: pointer;
}

.sub-filters button:hover {
  background-color: var(--button-hover-background-color);
}

.top-search {
  margin: 5px;
  display: flex;
  justify-content: end;
  align-items: center;
}

.top-search img {
  height: 13px;
  width: auto;
  vertical-align:middle;
  /* margin: auto; */
}

.top-search input {
  padding: 5px 8px;
  border-radius: 8px 0px 0px 8px;
  border: solid 1px;
  border-right-width: 0px;
  outline: none;
}

.top-search button {
  background-color: var(--button-background-color);
  border-radius: 0px 8px 8px 0px;
  font-weight: bold;
  border: solid 1px var(--button-background-color);
  border-left-width: 0px;
  padding: 5px 8px;
  cursor: pointer;
}

.top-search button:hover {
  background-color: var(--button-hover-background-color);
}

.records {
  width: 80%;
  /* align-self: center; */
  /* justify-self: center; */
  /* max-height: 800px; */
  overflow: auto;
  /* background-color: rgba(0, 43, 116, 1); */
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  border-top-right-radius: 5px;
  border-top-left-radius: 5px;
  padding: 1px;
  margin: 30px auto;
 }

 .mat-mdc-row .mat-mdc-cell {
   border-bottom: 1px solid transparent black;
  border-top: 1px solid transparent;
  /* cursor: pointer; */
}

.mat-mdc-row:hover .mat-mdc-cell {
  border-color: black;
}

.records table button {
  /* width: auto; */
  /* padding: auto ; */
  border-radius: 5px;
  color: white;
  background-color: var(--button-background-color);
  cursor: pointer;
  border: none;
  font-size: x-small;
  padding: 5px 8px;
}

.records table button:hover {
  background-color: var(--button-hover-background-color);
}

.loading-container {
  /* margin: 100px; */
  padding: 10px;
  display: flex;
  /* width: 80%; */
  justify-content:space-between;
  /* flex-direction: column; */
  /* margin: auto; */
}

.loading-container .page-buttons {
  font-size: small;
  color: white;
  border-radius: 8px;
  margin-left:10px;
  padding: 8px 15px;
  background-color: var(--button-background-color);
  cursor: pointer;

}

.loading-container .page-buttons:hover {
  background-color: var(--button-hover-background-color);
}

.loading-container .page-number {
  font-size: small;
  color: white;
  border-radius: 8px;
  margin-left:10px;
  padding: 8px 15px;
  background-color: var(--button-background-color);
}


.loading-container button {
  background-color: rgba(0, 43, 116, 1);
  color: #fff;
  padding: 10px 20px;
  border: none;
  cursor: pointer;
  border-radius: 8px;
  font-weight: bold;
  /* width: 100%; */
}

.loading-container button:hover {
  background-color: rgb(0, 197, 0);
}

.loading-container button:disabled {
  background-color: #ccc; /* Change to your preferred disabled background color */
  color: #666; /* Change to your preferred disabled text color */
  cursor: not-allowed;
}

.loader {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 10px;
}

